<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    
	
	<bean id="categories" class="com.spring.auto.Categories" autowire="autodetect">
	<property name="name" value="Life Insurance"></property>
	</bean>
	
	<bean id="policy" class="com.spring.auto.Policy" >
	<property name="planName" value="Term Plan"></property>
	<property name="planAmount" value="8500"></property>
	</bean>
	
</beans>
